n8n_workflows/whatsapp_bonification_and_orders_unified.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-order-notification-V2",
        "options": {}
      },
      "name": "Webhook (Recebe Pedido)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -784,
        144
      ],
      "webhookId": "whatsapp-order-notification-V2",
      "id": "7d0ac40c-a3ae-4447-bdd2-baa5d96062b0"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body?.workflow_type}}",
              "value2": "delivery_order"
            }
          ]
        }
      },
      "name": "IF Cliente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -432,
        16
      ],
      "id": "8365ea95-60f4-43e7-8e36-6594eb6284b0"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body?.workflow_type}}",
              "value2": "order_status_update"
            }
          ]
        }
      },
      "name": "IF Admin",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -432,
        304
      ],
      "id": "7a9241ee-52b2-462e-a5c1-7cffc1004f7b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body?.workflow_type}}",
              "value2": "birthday_coupon"
            }
          ]
        }
      },
      "name": "IF Aniversario",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -432,
        500
      ],
      "id": "5a9241ee-52b2-462e-a5c1-7cffc1004f8c"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body?.workflow_type}}",
              "value2": "loyalty_coupon"
            }
          ]
        }
      },
      "name": "IF Fidelidade",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -432,
        680
      ],
      "id": "6a9241ee-52b2-462e-a5c1-7cffc1004f9d"
    },
    {
      "parameters": {
        "functionCode": "const data = $json.body?.message_data || {};\nconst phone = `${$json.body?.phone_number}`;\nconst items = Array.isArray(data.items)\n  ? data.items.map(i => `• ${i.quantity}x ${i.name} - R$ ${(i.price * i.quantity).toFixed(2)}`).join('\\n')\n  : 'Nenhum item';\n\nlet taxaEntrega = data.delivery_fee;\nif (taxaEntrega === undefined || taxaEntrega === null || taxaEntrega === '' || isNaN(taxaEntrega)) {\n  taxaEntrega = 'Grátis';\n} else {\n  taxaEntrega = parseFloat(taxaEntrega).toFixed(2);\n}\n\nconst entrega = data.delivery_type === 'delivery'\n  ? `Endereço: ${data.address}\\nTaxa de Entrega: R$ ${taxaEntrega}`\n  : 'Retirada no Local';\n\nlet financeiro = `Total: R$ ${parseFloat(data.total).toFixed(2)}`;\nif (data.coupon_used && parseFloat(data.discount) > 0.01) {\n  const taxaEntregaStr = data.delivery_type === 'delivery' ? (taxaEntrega === 'Grátis' ? '0.00' : taxaEntrega) : '0.00';\n  financeiro = `Subtotal: R$ ${parseFloat(data.subtotal).toFixed(2)}\\n`;\n  if (data.delivery_type === 'delivery') {\n    financeiro += `Taxa de Entrega: R$ ${taxaEntregaStr}\\n`;\n  }\n  financeiro += `Desconto (Cupom: ${data.coupon_used}): -R$ ${parseFloat(data.discount).toFixed(2)}\\n*Total Geral: R$ ${parseFloat(data.total).toFixed(2)}*`;\n} else if (data.delivery_type === 'delivery' && parseFloat(data.delivery_fee) > 0) {\n  financeiro = `Subtotal: R$ ${parseFloat(data.subtotal).toFixed(2)}\\nTaxa de Entrega: R$ ${taxaEntrega}\\n*Total: R$ ${parseFloat(data.total).toFixed(2)}*`;\n}\n\nconst msg = `🍣 *Pedido enviado para C&R Sushi* 🍣\\n\\nPedido: ${data.order_number}\\nStatus: ${data.status}\\n\\n*Detalhes do Pedido:*\\n${items}\\n\\n*Detalhes da Entrega:*\\n${entrega}\\n\\nPagamento: ${data.payment_method}\\n\\n${financeiro}\\n\\nNão responda esta mensagem caso tenha dúvida contate diretamente a *C&R Sushi* 👇\\nhttps://wa.me/5573999743274?text=Olá%20tenho%20uma%20dúvida`;\n\nreturn [{\n  json: {\n    phoneNumber: phone,\n    message: msg\n  }\n}];"
      },
      "name": "Formatar mensagem cliente",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "95bb6f96-7e0f-4427-8e49-f0a0d807d441"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body?.message_data?.new_status}}",
              "value2": "Pedido recebido"
            }
          ]
        }
      },
      "name": "IF Admin - Novo Pedido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        288
      ],
      "id": "0d20426a-1279-4f54-b9cc-545502ce4336"
    },
    {
      "parameters": {
        "functionCode": "const order = $json.body?.message_data || {};\nconst phone = `55${$json.body?.phone_number}`;\nconst items = Array.isArray(order.items) ? order.items.map(i => `• ${i.quantity}x ${i.name} - R$ ${(i.price * i.quantity).toFixed(2)}`).join('\\n') : 'Nenhum item';\nconst entrega = order.delivery_type === 'delivery' ? `Endereço: ${order.address}\\nTaxa de Entrega: R$ ${order.delivery_fee}` : 'Retirada no Local';\nconst msg = `*🎉 Novo Pedido Recebido - C&R Sushi 🎉*\\n\\n*Número do Pedido:* ${order.order_number}\\n*Cliente:* ${order.customer_name}\\n\\n*Itens:*\\n${items}\\n\\n*Entrega:*\\n${entrega}\\n\\n*Pagamento:* ${order.payment_method}\\n*Total:* R$ ${order.total}`;\nreturn [{json:{phoneNumber:phone,message:msg}}];"
      },
      "name": "Formatar mensagem novo pedido admin",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "790a7d4b-7b78-44b0-9056-2bc4ace887f4"
    },
    {
      "parameters": {
        "functionCode": "const d = $json.body?.message_data || {};\nconst phone = `55${$json.body?.phone_number}`;\nconst items = Array.isArray(d.items) ? d.items.map(i => `• ${i.quantity}x ${i.name} - R$ ${(i.price * i.quantity).toFixed(2)}`).join('\\n') : 'Nenhum item';\nconst entrega = d.delivery_type === 'delivery' ? `Endereço: ${d.address}\\nTaxa de Entrega: R$ ${d.delivery_fee}` : 'Retirada no Local';\nconst msg = `*🍣 Atualização de Status - C&R Sushi 🍣*\\n\\n*Pedido:* ${d.order_number}\\n*Status:* ${d.new_status}\\n\\n*Detalhes do Pedido:*\\n${items}\\n\\n*Entrega:*\\n${entrega}\\n\\n*Pagamento:* ${d.payment_method}\\n*Total:* R$ ${d.total}`;\nreturn [{json:{phoneNumber:phone,message:msg}}];"
      },
      "name": "Formatar mensagem status admin",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "26086cb2-1215-4242-a5e5-8bcffb31ef63"
    },
    {
      "parameters": {
        "functionCode": "const data = $json.body?.message_data || {};\nconst phone = `${$json.body?.phone_number}`;\nconst msg = `🎂 *Feliz Aniversário, ${data.nome}!* 🎉\\n\\nHoje é um dia especial e queremos comemorar com você 🍣❤️\\n\\nPreparamos um presente exclusivo: um cupom de *15% OFF* para você aproveitar seu sushi favorito.\\n\\n🎁 Seu cupom: *${data.cupom_aniversario}*\\n\\nDesejamos muita felicidade, saúde e muitos momentos especiais no seu novo ciclo! 🥳`;\nreturn [{json:{phoneNumber:phone,message:msg}}];"
      },
      "name": "Formatar mensagem aniversario",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        576
      ],
      "id": "45bb6f96-7e0f-4427-8e49-f0a0d807d442"
    },
    {
      "parameters": {
        "functionCode": "const data = $json.body?.message_data || {};\nconst phone = `${$json.body?.phone_number}`;\nconst msg = `🍣 *Obrigado por escolher nosso sushi mais uma vez!*\\n\\nVocê acaba de completar 10 pedidos conosco 🎉\\n\\nComo agradecimento pela sua preferência, preparamos um \\ncupom especial de *10% OFF* para sua próxima compra.\\n\\n🎁 Seu cupom: *${data.cupom_10}*\\n\\nEsperamos você para o próximo pedido 😋🤤🍱`;\nreturn [{json:{phoneNumber:phone,message:msg}}];"
      },
      "name": "Formatar mensagem fidelidade",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        768
      ],
      "id": "55bb6f96-7e0f-4427-8e49-f0a0d807d443"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://independent-effort-banana-powder.trycloudflare.com/message/sendText/C7R",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\"Token\":\"6151C031DB1F-4545-B2AC-D6001108E32F\",\"Content-Type\":\"application/json\"}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$json[\"phoneNumber\"]}}"
            },
            {
              "name": "text",
              "value": "={{$json[\"message\"]}}"
            },
            {
              "name": "linkPreview",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "name": "Enviar Mensagem NOTIFY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        368,
        384
      ],
      "id": "5d3072fe-f681-4ca1-85f1-4a73f028917f"
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "whatsapp-order-notification-V2",
        "options": {}
      },
      "id": "8cf28d7e-2579-4239-b19d-d41487dc75ff",
      "name": "Webhook (CORS Options)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -784,
        368
      ],
      "webhookId": "whatsapp-order-notification-options-V2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Authorization"
              }
            ]
          }
        }
      },
      "id": "6e78c35b-1c73-4123-a74b-bb59ef59c34f",
      "name": "Respond CORS1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -432,
        480
      ]
    }
  ],
  "connections": {
    "Webhook (Recebe Pedido)": {
      "main": [
        [
          {
            "node": "IF Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Aniversario",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Fidelidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Cliente": {
      "main": [
        [
          {
            "node": "Formatar mensagem cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Admin": {
      "main": [
        [
          {
            "node": "IF Admin - Novo Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Aniversario": {
      "main": [
        [
          {
            "node": "Formatar mensagem aniversario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Fidelidade": {
      "main": [
        [
          {
            "node": "Formatar mensagem fidelidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar mensagem cliente": {
      "main": [
        [
          {
            "node": "Enviar Mensagem NOTIFY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Admin - Novo Pedido": {
      "main": [
        [
          {
            "node": "Formatar mensagem novo pedido admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar mensagem status admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar mensagem novo pedido admin": {
      "main": [
        [
          {
            "node": "Enviar Mensagem NOTIFY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar mensagem status admin": {
      "main": [
        [
          {
            "node": "Enviar Mensagem NOTIFY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar mensagem aniversario": {
      "main": [
        [
          {
            "node": "Enviar Mensagem NOTIFY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar mensagem fidelidade": {
      "main": [
        [
          {
            "node": "Enviar Mensagem NOTIFY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (CORS Options)1": {
      "main": [
        [
          {
            "node": "Respond CORS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "86f02deaa45f9fd64e806ce6c95c4e74b601183f03394346cfa3c207d07f9c73"
  }
}
